@tailwind base;
@tailwind components;
@tailwind utilities;

.compact-subtitle {
  margin-left: 160px;
  margin-right: 160px;
}

.worker-card {
  width: calc(100% / 3 - 1rem);
  min-height: 350px;
}

.worker-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
